
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        

        .Header-Section img{
            object-fit: cover;
            width: 100%;
        }

        

        .details{
            margin-top: 20px;
        }



        form {
            text-align: center;
            
        }


        form .upload {
            display: block;
            border-radius: 20px;
            outline: none;
            color: rgb(202, 10, 99);
            border: 3px solid rgb(0, 0, 0);
            margin: auto;
            cursor: pointer;
        }



        input[type="submit"] {
            padding: 10px;
            border-radius: 15px;
            color: #fff;
            background-color: green;
            margin-top: 20px;
            font-weight: bold;
            border: none;
            border: 3px solid rgb(0, 0, 0);
        }

        
        ::-webkit-file-upload-button {
            color: white;
            padding: 10px;
            border: 2px solid rgb(129, 129, 129);
            background-color: rgb(129, 129, 129);
            

        }










        




        .image-gallary{
            margin-top: 20px;
        }




        .container-image{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        .container-image .heading{
            margin-bottom: 20px;
        }
        
        
        .container-image .heading h1{
            font-family: 'Courgette', cursive;
            font-size: 3rem;
            color: rgb(144 212 72);
        }
        
        
        
        .container-image .box-image{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        
        .container-image .box-image .dream{
            display: flex;
            flex-direction: column;
            width: 32.5%;
        }
        
        
        .container-image .box-image .dream img{
            width: 100%;
            margin-bottom: 20px;
            border-radius: 10px;
            border: 3px solid rgb(212, 72, 165);
            transition: transform .5s;
        }
        
        
        .container-image .box-image .dream img:hover{
            transform: scale(1.04);
        }
        
    
        

        

        .home img{
            width: 50px;
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 30px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            background-color: green; /* Set a background color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 15px; /* Some padding */
            border-radius: 10px; /* Rounded corners */
        }


        @media only screen and (max-width: 600px) {
            .container-image .box-image .dream img{
                margin-bottom: 5px;
            }


            .home img{
                
                bottom: 10px !important; 
                right: 10px !important; 

            }

            .container-image .heading h1{
    
                font-size: 2rem;
        
            }



        }
    
        
        